#!/bin/ksh

#  Copyright: IBM Corp., 2017
#
#  Written by: Stephen Poon, Ralf Schmidt-Dannert, IBM
#              IBM Washington Systems Center, NA - Power Technical Team, Oracle
#  
#  Disclaimers:
#  This script is provided as-is to illustrate Oracle Database as a Service
#  with IBM PoverVC. This script is not part of any IBM product and has not
#  undergone extended testing of functionality or "fit for purpose" verification
#
#  Legal Stuff:
#
#  No Warranty
#  Subject to any statutory warranties which can not be excluded, IBM makes
#  no warranties or conditions either express or implied, including without
#  limitation, the warranty of non-infringement and the implied warranties
#  of merchantability and fitness for a particular purpose, regarding the
#  program or technical support, if any.
#
#  Limitation of Liability
#  Neither IBM nor its suppliers will be liable for any direct or indirect
#  damages, including without limitation, lost profits, lost savings, or any
#  incidental, special, or other economic consequential damages, even if IBM
#  is informed of their possibility. Some jurisdictions do not allow the
#  exclusion or limitation of incidental or consequential damages, so the
#  above exclusion or limitation may not apply to you.
#----------------------------------------------------------------------
#
#
#  rc.agent.cfg
#
#  Environment variables for rc.agent.  MUST be in same
#    location as rc.agent
#  
#  Change history: 6/8/2016 srp: new
#                  8/17/2016 srp: added RCAGENT_VERSION
#		           4/30/2017 rsd: Version v3r0
#                 
#
# Setup the environment variables
export RCAGENT_VERSION=v3r0
export EXPECT_TIMEOUT=60
export AGENT_SOFTWARE_OWNER=oracle
export AGENT_SOFTWARE_GROUP=oinstall
export AGENT_BASE_DIR=/u01/app/agent
export AGENT_HOME=$AGENT_BASE_DIR/core/12.1.0.4.0
export T_WORK=/tmp/clone_work_12c

#  point to the OEM node
export OMS_HOST=<uor oem server host name>
#
export OMS_PORT=1159
export AGENT_REGISTRATION_PASSWORD=<your OEM registration password>
