#!/bin/ksh

######################################################################
#  Copyright: IBM Corp., 2019
#
#  Written by: Stephen Poon, Ralf Schmidt-Dannert
#              IBM North America Systems Hardware
#              Power Technical Team, Oracle
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#----------------------------------------------------------------------
#  rc.agent.cfg
#
#  Environment variables for rc.agent.  MUST be in same
#    location as rc.agent
#  
#  Change history: 6/8/2016 srp: new
#                  8/17/2016 srp: added RCAGENT_VERSION
#		           4/30/2017 rsd: Version v3r0
#                 
#
# Setup the environment variables
export RCAGENT_VERSION=v3r0
export EXPECT_TIMEOUT=60
export AGENT_SOFTWARE_OWNER=oracle
export AGENT_SOFTWARE_GROUP=oinstall
export AGENT_BASE_DIR=/u01/app/agent
export AGENT_HOME=$AGENT_BASE_DIR/core/12.1.0.4.0
export T_WORK=/tmp/clone_work_12c

#  point to the OEM node
export OMS_HOST=<uor oem server host name>
#
export OMS_PORT=1159
export AGENT_REGISTRATION_PASSWORD=<your OEM registration password>
