#!/bin/sh

######################################################################
#  Copyright: IBM Corp., 2019
#
#  Written by: Stephen Poon, Ralf Schmidt-Dannert
#              IBM North America Systems Hardware
#              Power Technical Team, Oracle
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#----------------------------------------------------------------------
#  rc.oracledbaasv3.cfg
#
#  Environment variables for rc.oracledbaasv3
#  Sourced by rc.oracledbaasv3
#  Must be placed in the same directory as rc.oracledbaasv3
#  
#  Change history: 8/2/2016 srp: new
#                  8/11/16  rsd: added comment explaining ORIG_HOSTx usage
#                  8/17/16  srp: added RCDBAAS_VERSION
#     				 export OEMAGENTSCRIPT
#		           2/15/17  srp: changes to incorporate vRA deploys
#	               2/15/17  srp: added STARTOEM
#                  2/21/17  srp: change PARM_FILE location to /tmp
#                                rc.initdbaas or vro writes to this PARM_FILE
#		           4/30/17  rsd: Version changed to v3
#
#  GRID_HOME may be set in root's .profile but here just in case
export RCDBAAS_VERSION=v3r0
export GRID_HOME=/u01/app/grid/product/12.1.0/grid

#
#  ORIG_HOST is the hostname of the source image host
#  hostname may be set to something else other than the DNS-registered 
#  This is only used in test to prevent accidentially running the script
# in the "golden" LPAR - not anywhere else (RSD: 08/11/16)
export ORIG_HOST=dbaasv3r0
export ORIG_HOST_DNS=aop92cld34
export ORIG_HOST_DNS_FQDN=aop92cld34.xxx.yyy.com


#
#  rc.initdbaas copies cloud-init's user-data.txt into this file
#      and vro put input data into this file
export PARM_FILE="/tmp/user-data.txt"

#
#  The following are from Grid Infrastructure and Database installations
#    on the image source
export ASMPWFILE=+ASMREPO/orapwasm
export DBSNMPPW=<your oracle dbsnmp password>
export ORASYSPW=<your oracle sys password>

#
#  from the image source Grid Infrastructure Oracle StandAlone configuration
#  ASM SYS password
#  used in the call to dbca
export ASMSYSPW=<your ASM sys user password>

#
#  ASM diskgroups for data and recovery
#  Used in the call to dbca
export DATADG=DATA
export RECOVDG=RECOV
#
#  Name of OEM agent deploy script
#  This script is called from "/stage" directory!
export OEMAGENTSCRIPT="rc.agent13c"
export STARTOEM="NO"
